
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.menu{
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.966);
    display: flex;
    flex-direction: column;
    justify-content: center;

   position: absolute;
   left: -300px;

   transition: all;
   transition-duration: 0.3s;
   transition-timing-function: ease;
    
}

.close-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;

    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
}

.close-svg{
    fill: white;
}

.close-btn:active{
    border: none;
}

.close-btn:hover, .btn{
    cursor: pointer;
}

.close-btn:hover .close-svg{
    fill: rgba(255, 255, 255, 0.671);
}

.menu-items{
    height: 30%;
    list-style: none;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;

}

.item{

    font-size: 23px;
    text-align: center;
    letter-spacing:  2px;
}

.item:hover{
    cursor: pointer;
    color: rgba(240, 248, 255, 0.521);

}

.btn{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    font-size: 20px;
}

