
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{

    width: 300px;
    height: 400px;
    border: 1px solid rgb(109, 41, 2);
    padding: 50px;
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.userPhoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}

h3{
    padding: 30px 0;
}